@import '../../../assets/styles/variables.scss';

.home {
  min-height: $full-h;
  &-inner {
    display: flex;
    min-height: $full-h;
  }
  &-panel {
    width: 26rem;
    background: $light-grey;
    border-right: 1px solid $border-grey;
    min-height: $full-h;
    padding: 2rem;
  }
  &-content {
    width: 100%;
  }
  &-header {
    height: 10rem;
    width: 100%;
    border-bottom: 1px solid $light-grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
  }
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
  }
}
