<div class="home">
  <div class="home-inner">

    <div class="home-panel">
      <app-copy-string></app-copy-string>
    </div>

    <div class="home-content">
      <div class="home-header">
        <app-username></app-username>
        <app-search-panel (searchingEvent)="searchingLoad($event)"></app-search-panel>
      </div>

      <div class="home-top">
        <div>
          <button
            class="button-blue"
            (click)="createNewItem()">
            Create new item
          </button>
        </div>
        <app-ip-list-limit
          [amount]="ipZoneService.ipItems.length"
        ></app-ip-list-limit>
        <!-- <div>
          <button
            class="button-blue"
            (click)="generateList()">Generate 100</button>
        </div> -->
      </div>

      <app-ip-list
        [ipItems]="ipZoneService.ipItems"
        [isLoading]="isLoading">
      </app-ip-list>
    </div>

  </div>
</div>

<app-fetch-error></app-fetch-error>

<app-modal *ngIf="modalService.modalForm$ | async">
  <app-create-ip-item></app-create-ip-item>
</app-modal>
<app-modal *ngIf="modalService.modalSuccess$ | async">
  <app-modal-create-success></app-modal-create-success>
</app-modal>
<app-modal *ngIf="modalService.modalConfirm$ | async">
  <app-modal-delete-all-confirm></app-modal-delete-all-confirm>
</app-modal>
