<div
  *ngIf="modalService.currentModalId === modalId"
  class="success-box-wrapper"
>
  <div id="success-box">
    <div class="face">
      <div class="eye"></div>
      <div class="eye right"></div>
      <div class="mouth happy"></div>
    </div>
    <div class="shadow scale"></div>
    <div class="message">
      <h2>Success!</h2>
      <p>Yay, everything is working.</p>
    </div>
    <div class="success-btn">
      <button
        class="button-blue"
        (click)="modalService.close()"
      >
        Continue</button>
    </div>
  </div>
</div>

