@import '../../../assets/styles/variables.scss';

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 4rem;
  background: $white;
  border-right: 1px solid $border-grey;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-item {
    background: transparent;
    border-radius: $br;
    padding: 0.3rem 0.7rem;
    transition: all .2s linear;
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
    svg {
      fill: $grey;
      width: 2rem;
      height: 2rem;
      transition: all .2s linear;
    }
    &:hover {
      background: $primary-opacity;
      svg {
        fill: $primary;
      }
    }
  }
}
