@import '../src/assets/styles/variables.scss';
@import '../src/assets/styles/animations.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: $black;
    letter-spacing: 0.1rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
  min-height: $full-h;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

img {
    max-width: 100%;
}

button {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

header {
  flex: 0 0 6.875rem;
}

main {
    padding-left: 4rem;
    padding-top: 1.6rem;
    flex: 1 1 auto;
}

.img-cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
    width: 100%;
    padding: 2rem;
}

.no-scroll {
  overflow-y: hidden;
}

.button-blue {
  background: $primary;
  box-shadow: $box-shadow;
  color: $white;
  padding: 0.5rem 1rem;
  border-radius: $br;
  transition: all .2s linaer;
  &:hover {
    background:darken($color: $primary, $amount: 15)
  }
  &:disabled {
    background: $light-grey;
    color: $grey;
    cursor: not-allowed;
  }
}

.tooltip {
  animation: fadeInScale 0.5s;
  border-radius: $br;
  background: $primary;
  color: $white;
  padding: 1rem 3rem;
}




