@import './variables.scss';

.ip {
  &-wrapper {
    width: 100%;
    padding: 0 2rem;
  }

  &-title {
    color: $grey;
    transition: all .2s linear;
    cursor: pointer;
    svg {
      fill: $green;
      width: 1.5rem;
      height: 1.5rem;
      margin-left: 0.6rem;
      opacity: 0;
      transition: all .2s linear;
    }
    &:hover {
      color: $primary;
      svg {
        opacity: 1;
      }
    }
  }

  &-list {
    width: 100%;
    border-bottom: 1px solid $light-grey;
    padding: 1rem 0.3rem;
    display: flex;

    &-item {
      margin-right: 2rem;
      display: flex;
      align-items: center;
      &.signed {
        padding-left: 1.5rem;
        div {
          width: 0.7rem;
          height: 0.7rem;
          border-radius: 50%;
          background: $red;
        }
        &.active div {
          background: $green;
        }
      }
      &:nth-child(1),
      &:nth-child(9) {
        width: 2%;
      }
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        width: 15%;
      }
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7) {
        width: 7%;
      }
      &:nth-child(8) {
        width: 10%;
      }
    }
  }
}

.dots-svg {
  fill: $grey;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}
.alarm-svg {
  fill: $yellow;
  width: 1.5rem;
  height: 1.5rem;
}

.dots {
  position: relative;
  &-menu {
    position: absolute;
    z-index: 999;
    top: 2rem;
    left: -8rem;
    width: 10rem;
    box-shadow: $box-shadow;
    background: $light-grey;
    &-item {
      padding: 0.5rem;
      transition: all .2s linear;
      cursor: pointer;
      &:hover {
        background: $white;
      }
    }
  }
  &-wrapper {
    background: transparent;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: $full-h;
  }
}

//zone color

.ad {
  color: $primary;
}
.cn {
  color: $yellow;
}
.kg {
  color: $green;
}
.kl {
  color: $red;
}
.kp {
  color: goldenrod;
}
.kr {
  color: rgb(54, 41, 10);
}
.ks {
  color: teal;
}
.ksh {
  color: blueviolet;
}
.kv {
  color: palevioletred;
}
.ms {
  color: orange;
}
.nv {
  color: olive;
}
.pd {
  color: burlywood;
}
.pg {
  color: violet;
}
.pr {
  color: rgb(106, 25, 87);
}
.ps {
  color: rgb(137, 28, 30);
}
.vb {
  color: rgb(119, 144, 67);
}
.vs {
  color: rgb(142, 73, 211);
}

